.vscode/**
.vscode-test/**
src/**
.gitignore
.yarnrc
tsconfig.json
node_modules/**
**/*.map
**/*.ts
**/*.test.js
.eslintrc.json
.eslintrc.yml
.editorconfig
package-lock.json
yarn.lock
*.vsix
media/generate-icon.py
media/icon.svg
